* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.top-section header {
    padding: 3vw 5VW;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 9;
    position: relative;
    background-color: transparent;
}

.header-left .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1vw;
    background: transparent;
}

.link-title span {
    color: white;
}

.button button {
    background: transparent;
    border: transparent;
}

.button button span svg {
    fill: white;
}

.header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3vw;
    background: transparent;
}

.r-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1vw;
}

.r-button a span svg {
    margin-top: 5px;
}

.r-button .link-title span {
    font-weight: 600;
    font-size: 1.2vw;
}

.link-one,
.link-two,
.link-three {
    background: transparent;
}

.card {
    position: relative;
    z-index: 7;
    background-color: white;
    width: 90%;
    margin: 0 5vw;
    border-radius: 15px;
    padding: 40px 30px;
}

.card .top-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1vw;
}

.top-button button {
    padding: 10px 30px;
    background: black;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1vw;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
}

.top-button button:nth-child(2) {
    background-color: rgb(236, 234, 234);
    color: black;
    border: 0;
}

.input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 8vw;
}

.input .f {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1vw;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.f input {
    padding: 15px 20px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

.l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3vw;
    gap: 5vw;
}

.l span {
    font-size: 3vw;
    color: gray;
}

.l h4 {
    font-family: sans-serif;
    font-size: 2vw;
    color: gray;
}

.img-side img {
    z-index: 1;
    position: absolute;
    top: 0;
}

.l-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1vw;
    margin-top: 2vw;
    width: 100%;
}

.l-input .h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}

.l-input .h input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px 30px;
    width: 30vw;
    border-radius: 30px;
    border: 1px solid gainsboro;
}

.l-input .g {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}

.l-input .g input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px 30px;
    width: 30vw;
    border-radius: 30px;
    border: 1px solid gainsboro;
}

.l-input button {
    background-color: rgb(255, 115, 0);
    padding: 15px 40px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border: 0;
    margin-top: 20px;
    width: 30vw;
    border-radius: 15px;
    cursor: pointer;
}

.top-s-heading {
    margin-top: 8.4vw;
    height: 30%;
    background-color: rgb(255, 115, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.top-s-heading h1 {
    height: 30%;
    line-height: 49px;
    font-size: 4vw;
    font-weight: 900;
}

.top-s-heading p {
    margin-top: 1vw;
}